version: '3.8'

services:
  db:
    image: 'postgres:15.3'
    container_name: cep-db
    volumes:
      - 'postgres:/var/lib/postgresql/data'
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - backend

  api:
    depends_on:
      - 'db'
      - 'redis'
    restart: always
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    container_name: cep-api
    ports:
      - '3000:3000'
    environment:
      - DATABASE_HOST=db
    volumes:
      - .:/app
    networks:
      - backend

  redis:
    image: 'redis:latest'
    container_name: cep-rds
    ports:
      - '6379:6379'
    volumes:
      - .:/app
    networks:
      - backend

networks:
  backend:
    name: cep_on_rails_network

volumes:
  postgres:
